@model Calcpad.web.Areas.Dev.Models.CategoryInputModel
@{
    ViewData["Title"] = "Delete category: " + Model.Name;
}
<br />
<h1>Delete category:</h1>
<hr />
<h2 class="h3 text-secondary">@Model.Name</h2>
<hr />
<br />

@if (Model.IsEmpty)
{
    <p class="h5 text-danger">Are you sure that you want to delete this category?</p>
    <br />
    <p>It will be removed permanently from database.</p>
}
else
{
    <p class=" h5 text-danger">Error! Category not empty.</p>
    <br />
    <p>You cannot delete a category that contains other categories or worksheets.</p>
}
<br />
<br />
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id">
    <input type="hidden" asp-for="Name">
    <input type="hidden" asp-for="ParentId">
    <input type="hidden" asp-for="IsEmpty">
    <p>
        <a asp-area=""
           asp-controller="category"
           asp-action="index"
           asp-route-id="@Model.ParentId"
           class="btn btn-success mr-4">Cancel</a>
        @if (Model.IsEmpty)
        {
            <input class="btn btn-danger" type="submit" value="Delete" />
        }
    </p>
</form>
<br />
<br />