<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calcpad.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Calcpad.Wpf.Properties.Settings>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="TempFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Numbers" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="AutoRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Angles" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="Units" serializeAs="String">
                <value>K</value>
            </setting>
            <setting name="Equations" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="Decimals" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Substitute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Adaptive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Shadows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Direction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Palette" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Smooth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Browser" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MaxOutputCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ZeroSmallMatrixElements" serializeAs="String">
                <value>True</value>
            </setting>
        </Calcpad.Wpf.Properties.Settings>
    </userSettings>
</configuration>