@{
    ViewData["Title"] = "Home Page";
}
@section meta{
    <meta name="description" content="Free online math and engineering calulcations platform">
    <meta name="keywords" content="free,online,math,engineering,calulations,programming,language,software,equations,functions,units">
}
<div class="container-fluid text-center">
    <br /><br /><br /><br /><br /><br />
    <h1 class="display-3"><img class="logo" src="~/images/Calcpad.png">Calcpad</h1>
    <hr />
    <h2 class="h5">Develop, share and run engineering worksheets online.</h2>
    <br /><br />
    <div class="row h4">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-light m-2 p-2 w-100" asp-controller="Category">
                        <br />
                        <i class="icofont-library icofont-4x text-dark"></i>
                        <br /><br />
                        <strong>Browse<br />Library</strong><br /><br />
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-light m-2 p-2 w-100" asp-controller="Ide">
                        <br />
                        <i class="icofont-code icofont-4x text-dark"></i>
                        <br /><br />
                        <strong>Online<br />IDE</strong><br /><br />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-light m-2 p-2 w-100" asp-controller="Calculator">
                        <br />
                        <i class="icofont-calculator icofont-4x text-dark"></i>
                        <br /><br />
                        <strong>Online<br />Calculator</strong><br /><br />
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-light m-2 p-2 w-100" href="~/download/calcpad-setup-en-x64.zip" target="_blank">
                        <br />
                        <i class="icofont-computer icofont-4x text-dark"></i>
                        <br /><br />
                        <strong>Calcpad for<br />Desktop</strong><br /><br />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <div class="container-fluid align-self-center col-lg-10">
        <h2 class="mb-4">About Calcpad</h2>
        <p class="ml-4">
            Calcpad is a professional software for developement of <strong>mathematical and engineering calculations</strong>. It works on both Cloud/Web and Desktop.
            You can <a asp-controller="Ide">create</a> your own engineering calculation <strong>worksheets</strong>
            or use some ready made ones, available in our <a asp-controller="Category">online library</a>.
            Alternatively, you can download the <a href="~/download/calcpad-setup-en-x64.zip" target="_blank">desktop version</a> and work on your own computer.
        </p>
        <p class="ml-4">
            Calcpad is <strong>free</strong> and <strong>open source</strong>. 
            It is distributed under the <a asp-controller="Help" asp-action="Index" asp-route-id="4">MIT License</a>. 
            The source code is available on both <br/>
            <a target="_blank" href="https://sourceforge.net/p/calyx/code"><img src="https://sourceforge.net/favicon.ico" height="24" alt="" /> SourceForge</a> and 
            <a target="_blank" href="https://github.com/Proektsoftbg/Calcpad"><img src="https://github.com/favicon.ico" height="24" alt="" /> GitHub</a>.
        </p>
        <br /><br /><br />
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-4"><i class="icofont-code"></i> Programming</h3>
                <p class="ml-4">
                    Calcpad uses <strong>simple programming language</strong> that is quick and easy to learn.
                    It <strong>does not require</strong> any special programming skills, which makes it suitable for engineers without any computer programming background.
                    You can create <strong>caluclation notes</strong> by simply writing your formulas and text, enclosed in 'quotes'.
                    However, Calcpad is very powerful in the same time: You can define your own <strong>variables</strong> and <strong>functions</strong>, include <strong>units of measurement</strong> in equations and use <strong>numerical methods</strong> to solve advanced problems.
                    For more information, check our <a asp-controller="Help">online documentation</a> or this <a href="~/download/Calcpad-quick-reference.pdf" target="_blank">quick language reference guide</a>.
                </p>
            </div>
            <div class="col-sm-6">
                <h3 class="mb-4"><i class="icofont-presentation"></i> Reporting</h3>
                <p class="ml-4">
                    Results are collected in professionaly looking <strong>Html reports</strong>.
                    They are generated automatically out of your source code. They include calligraphicaly formatted equations with substitiution of values.
                    This is useful for <strong>structural calculations</strong> or in official documentation.
                    You can <strong>print</strong> them directly from your browser or download them as <strong>Microsoft Word Document</strong> files (*.docx).
                    All equations are converted to <strong>MathType</strong> objects.
                    For even better fromatting, you can insert <strong>Html</strong>, <strong>CSS</strong> and <strong>SVG</strong> code in comments. In this way, you can add <strong>images</strong>, <strong>tables</strong> and other rich content.
                </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-4"><i class="icofont-interface"></i> Input forms</h3>
                <p class="ml-4">
                    You can automatically generate <strong>data input forms</strong>, directly from you source code. All you need to do is to put question marks "?" wherever you need a value to be entered.
                    The platform will do the rest of the work. You can select the content to be visible in input and output by placing
                    <code>#pre</code>, <code>#post</code>, <code>#hide</code>, <code>#show</code> visibility control tags.
                </p>
            </div>
            <div class="col-sm-6">
                <h3 class="mb-4"><i class="icofont-computer"></i> Calcpad for Desktop</h3>
                <p class="ml-4">
                    You can download the software using the following link:<br />
                    <a href="~/download/calcpad-setup-en-x64.zip" target="_blank">
                        <i class="icofont-download"></i> calcpad-setup-en-x64.zip
                    </a>
                </p>
                <p class="ml-4">
                    Unzip and run the setup executable to install the application. Follow the instructions inside the setup wizard. 
                    This software requires a 64-bit personal computer with Windows 10 and 
                    <a href="https://download.visualstudio.microsoft.com/download/pr/a865ccae-2219-4184-bcd6-0178dc580589/ba452d37e8396b7a49a9adc0e1a07e87/windowsdesktop-runtime-6.0.0-win-x64.exe
" target="_blank">
                        Microsoft .NET 6.0
                    </a>.
                </p>
            </div>
        </div>
    </div>
</div>
<br /><br />
