@model Calcpad.web.ViewModels.ParserSettings
<div class="modal fade" id="settingsDialog" tabindex="-1" role="dialog" aria-labelledby="settingsDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsDialogTitle">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row px-4">
                    <span class="mx-2">Mode: </span>
                    <div class="form-check form-check-inline mx-2">
                        <input class="form-check-input" type="radio" asp-for="Math.IsComplex" id="real" value="false" checked>
                        <label class="form-check-label" for="real"> real</label>
                    </div>
                    <div class="form-check form-check-inline mx-2">
                        <input class="form-check-input" type="radio" asp-for="Math.IsComplex" id="complex" value="true">
                        <label class="form-check-label" for="complex"> complex</label>
                    </div>
                    <span class="ml-4 mr-2">Angles: </span>
                    <div class="form-check form-check-inline mx-2">
                        <input class="form-check-input" type="radio" asp-for="Math.Degrees" id="deg" value="0" checked>
                        <label class="form-check-label" for="deg"> D</label>
                    </div>
                    <div class="form-check form-check-inline mx-2">
                        <input class="form-check-input" type="radio" asp-for="Math.Degrees" id="rad" value="1">
                        <label class="form-check-label" for="rad"> R</label>
                    </div>
                    <div class="form-check form-check-inline mx-2">
                        <input class="form-check-input" type="radio" asp-for="Math.Degrees" id="gra" value="2">
                        <label class="form-check-label" for="gra"> G</label>
                    </div>
                </div>
                <div class="form-group row px-4">
                    <div class="form-inline mx-2">
                        <label asp-for="Math.Decimals"></label>
                        <input class="form-control form-control-sm w-4 mx-2 text-center" min="0" max="16" asp-for="Math.Decimals" asp-format="{0:D2}">
                    </div>
                    <div class="form-check form-check-inline mx-2">
                        <input class="form-check-input" asp-for="Math.Substitute">
                        <label class="form-check-label" asp-for="Math.Substitute"></label>
                    </div>
                    <div class="form-check form-check-inline mx-2">
                        <input class="form-check-input" asp-for="Math.FormatEquations">
                        <label class="form-check-label" asp-for="Math.FormatEquations"></label>
                    </div>
                </div>
                <div class="form-group row px-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="Plot.Shadows">
                        <label class="form-check-label" asp-for="Plot.Shadows"></label>
                    </div>
                    <div class="form-inline">
                        <label asp-for="Plot.LightDirection"></label>
                        <select class="form-control form-control-sm mx-2" asp-for="Plot.LightDirection" asp-items="Model.Plot.LightDirectionsSelectListItems"></select>
                    </div>
                </div>
                <div class="form-group row px-4">
                    <div class="form-inline">
                        <label asp-for="Plot.ColorScale"></label>
                        <select class="form-control form-control-sm mx-2" asp-for="Plot.ColorScale" asp-items="Model.Plot.ColorScalesSelectListItems"></select>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" asp-for="Plot.SmoothScale">
                        <label class="form-check-label" asp-for="Plot.SmoothScale"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>